[[source]]
url = "http://public.nexus.shared.op/repository/pypi-hosted/simple/"
verify_ssl = false
name = "internet"

[[source]]
url = "http://nexus.dag.op/repository/pypi-hosted/simple/"
verify_ssl = false
name = "project"


[packages]
pydantic = ">=1.9.0"
pydash = ">=5.0.0"

[dev-packages]
pylint = "*"
black = "*"
wheel = "*"
setuptools = "*"
setuptools-pipfile = "*"
